* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    align-items: center;
    justify-content: center;
}
.nav {
    width: 100%;
    background: #2c2c2c21;
    color: #FFffff;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
.nav i{
    margin-right: 10px;
}
.nav a i{
    color: #FFffff;
}
.container {
    display: flex;
    font-size: 1.0em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background:  radial-gradient(circle, #473164, #0c0b20); */
    color: #FFffff;

    background: linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), 
                url('IST-BANNER-3.png') no-repeat center center/cover;
}
#questionDisplay{
    padding-bottom: 7px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #0B192C;
    color: #F4EDD3;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    height: 200px;
    width: 300px;
}
.card form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.card form input{
    padding: 3px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: #1E3E62;
    color: white;
}
.card form button{
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF6500;
}

.nav {
    width: 100%;
    background: #2c2c2c21;
    color: #FFffff;
    font-weight: 700;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}
.nav i{
    margin-right: 10px;
}
.nav a i{
    color: #FFffff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: #121212; */
    /* background:  radial-gradient(circle, #473164, #0c0b20); */
    color: #FFffff;
}
.content{
    padding: 20px;
}
.content button{
    padding: 10px;
    height: 55px;
    width: 300px;
    font-weight: 600;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 6px;
    background-color: #9490d3;
}
.content a{
    color: #121212;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer-container  {
    width: 98%;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;

}
.footer-container a {
    color: #ae00ff88;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 2em;
}

.footer-container a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 768px) {

    .container{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
    }
    
}
